<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>타이틀</title>
    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <link
      rel="preload"
      as="font"
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Regular.woff2"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css"
    />
    <link rel="stylesheet" href="/src/ui/components/select/select.css" />
  </head>
  <body>
    <h1>Select UI</h1>
    <div class="box">
      <img src="/src/assets/icon/global.svg" class="global" alt="지구" />

      <label for="languages" class="sr-only">언어 선택:</label>
      <select name="languages" id="languages">
        <option value="korea">한국어</option>
        <option value="english">English</option>
      </select>
      <img src="/src/assets/icon/triangle.svg" class="triagle" alt="언어선택" />
    </div>
  </body>
</html>
